@import "variables.less";
#kx-header {
    @icon-font-name: "glyphicons-halflings-regular";
    @icon-font-path: "/dist/fonts/";
    @icon-font-svg-id: "glyphicons_halflingsregular";
    @font-face {
        font-family: 'Glyphicons Halflings';
        src: url('@{icon-font-path}@{icon-font-name}.eot');
        src: url('@{icon-font-path}@{icon-font-name}.eot?#iefix') format('embedded-opentype'),
        url('@{icon-font-path}@{icon-font-name}.woff2') format('woff2'),
        url('@{icon-font-path}@{icon-font-name}.woff') format('woff'),
        url('@{icon-font-path}@{icon-font-name}.ttf') format('truetype'),
        url('@{icon-font-path}@{icon-font-name}.svg#@{icon-font-svg-id}') format('svg');
    }
    // Catchall baseclass
    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .glyphicon-home {
        &:before {
            content: "\e021";
        }
    }
    .glyphicon-book {
        &:before {
            content: "\e043";
        }
    }
    .glyphicon-blackboard {
        &:before {
            content: "\e218";
        }
    }
    .glyphicon-user {
        &:before {
            content: "\e008";
        }
    }
    z-index: 1000;
    display: inline-block;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 15px;
    &.header-home {
        @top: 0px;
        body.admin-bar & {
            top: @top+32;
        }
        top: @top;
        height: 30px;
        background-color: #23282d;
        & li>a {
            color: rgba(240, 245, 250, 0.8);
        }
        & li:not(:first-child):hover {
            background: darken(@brand-primary, 20%);
        }
        @media screen and (max-width: @screen-mb-max) {
            & li:not(: first-child):hover {
                background: white;
            }
            margin-top: 5px;
            position: fixed;
            min-width: 100px;
            position: static;
            width: 100%;
            & li>a {
                color: #333;
            }
        }
    }
    &.header-wiki {
        height: 30px;
        background-color: #23282d;
        & li>a {
            color: rgba(240, 245, 250, 0.8);
        }
        body.mw-mobile-mode & {
            & li:not(: first-child):hover {
                background: white;
            }
            background-color: white;
            padding-bottom: 3px;
            border-bottom: 1px solid #ccc;
            margin-top: 5px;
            position: fixed;
            min-width: 100px;
            position: static;
            width: 100%;
            & li>a {
                color: #333;
            }
            & li>a:hover {
                text-decoration: none;
            }
            & li .item.selected {
                color: @brand-danger;
                border-bottom: 4px solid @brand-danger;
            }
        }
    }
    .wrap {
        display: inline-block;
        width: 100%;
        @splitter: none;
        &>ul {
            overflow: hidden;
            white-space: nowrap;
            height: 30px;
            margin: 0px;
            @media screen and (max-width: @screen-mb-max) {
                overflow: auto;
            }
            &>li {
                display: inline-block;
                border-left: @splitter;
                margin: 0;
                padding: 3px 25px;
                @media screen and (max-width: @screen-mb-max) {
                    padding: 3px 15px;
                }
                cursor: pointer;
                &>a {
                    outline: 0 !important;
                    text-decoration: none !important;
                }
            }
            &>li .brand {
                border-left: none;
                font-size: 18px;
                line-height: 18px;
            }
            &>li:nth-child(2) {
                border-left: none;
            }
            @media screen and (max-width:@screen-mb-max) {
                background-color: white;
                &>li:not(: first-child):hover {
                    background: white;
                }
                &>li:not(: first-child):hover {
                    background: white;
                }
                &>li .others {
                    & span {
                        top: 4px;
                    }
                    position: absolute;
                    width: 14%;
                    display:inline-block;
                    margin-right: 10px;
                    right:0px;
                    top:0px;
                }
                &>li .brand:nth-child(1) {
                    width: 30%;
                    float: left;
                    line-height: 20px;
                    display: none;
                }
                &>li {
                    &:nth-child(2) {
                        //                        width: 25%;
                    }
                    &:nth-child(3) {
                        //                        width: 30%;
                    }
                    &:nth-child(4) {
                        //                        width: 30%;
                    }
                }
                &>li .item.selected {
                    color: @brand-danger;
                    border-bottom: 4px solid @brand-danger;
                }
            }
            //            <span href="http://test.ilwt.science/" rel="home" style="font-size: 130%;"><span style="
            //    color: rgb(255,20,20);font-size:116%;font-weight: normal;
            //">IC</span>
            //  科协</span>
        }
    }
}