.abc{
	font-size:10px;
	.bcd{
	color:black;
	}
}
#kx-header{
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    &>div{    
        display: inline-block;
    }   
}        
